body{
    background-color: black;
    font-family: 'Kanit', sans-serif;
    margin: 0;
  
}
.bg-light{
    background-color: transparent !important;
}
H2{
    color: white;
}
h1{
    color: gray;
}

section{
    display: grid;
    grid-template: 1;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 90%;
    
 
}
.item-form{
    padding: 3rem;
    align-items: center;
}
.btn-block{
    padding: 5px;
}
.btnform:hover{
    background-color: orange;
}
.textf1{
    border-radius: 5px;
    border: none;
    height: 2rem;
}
.block{
    align-items: center;
}
.hide{
    display: none;

}
button{
    margin: 3;
    text-align: center;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
}
.btngray{
    background-color: white;
    transition: 1s;
}
.btngray:hover{
    background-color: gray;
}
.btnred{
    background-color: white;
    transition: 1s;
}
.btnred:hover{
    background-color: red;
}
.btnyellow{
    background-color: white;
    transition: 1s;
}
.btnyellow:hover{
    background-color: gold;
}
.btnblue{
    background-color: white;
    transition: 1s;
}
.btnblue:hover{
    background-color:blue;
}
.btnwar{
    height: 2rem;
    width: 6rem;
    background-color: white;
}
