body{
    background-color: gray;
    font-family: 'Varela Round', sans-serif;
}
.head1{
    text-align: center;
    padding: 10px;
}
.navsel{
    text-decoration: underline;
    text-decoration-color: red;
}
